<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Ionic 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- EXERCICIO 1 -->

  <ion-toolbar>
    <ion-title>
      Exercício 1
    </ion-title>
  </ion-toolbar>

  <!-- Range empréstimo -->
  <ion-item>  
    <ion-label>Defina o valor do empréstimo</ion-label>
    <ion-range (ionChange)="onIonChange($event)"
      [(ngModel)]="valorEmprestimo"
      [snaps]="true"
      [step]="50"
      [min]="100"
      [max]="1000">
    </ion-range>
      <ion-label>R$ {{valorEmprestimo}}</ion-label>
  </ion-item>

  <!-- Range juros -->
  <ion-item>  
  <ion-label>Taxa de juros</ion-label>
  <ion-range (ionChange)="onIonChange($event)"
    [(ngModel)]="taxaJuros"
    [min]="0"
    [max]="30">
  </ion-range>
  <ion-label>{{taxaJuros}}%</ion-label></ion-item>



  <!-- Range prazo -->
  <ion-item>  
    <ion-label>Prazo de pagamento</ion-label>
    <ion-range (ionChange)="onIonChange($event)"
    [(ngModel)]="prazo"
    [snaps]="true"
    [min]="1"
    [max]="120">
    </ion-range>
      <ion-label> {{prazo}} meses</ion-label>
  </ion-item>

  <ion-item>
    <ion-button 
    (click)="calcularEx1()">
      Calcular
    </ion-button>
  </ion-item>

  <ion-item> <ion-label>
    Valor do empréstimo: R$ {{valorEmprestimo}} <br><br>
    Taxa de juros anual: {{taxaJuros}}% <br><br>
    Prazo: {{prazo}} meses<br><br>
    Valor prestação: R$ {{prestacao}} <br><br>
    Valor total a ser pago: {{totalEmprestimo}}
  </ion-label></ion-item>

  <!-- EXERCÍCIO 2 -->

</ion-content>
